<div class="container fadeIn animated" style="max-width: 7cm; margin-top: 1cm;" [formGroup]="formGroup">
    <div class="form-group">
        <label for="formGroupExampleInput">Identificacion</label>
        <input type="text" class="form-control" [formControlName]="identificacion" placeholder="Escribe tu identificacion" #identificacion>
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Nombre</label>
        <input type="text" class="form-control" [formControlName]="nombre" placeholder="Escribe tu nombre" #nombre>
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Salario</label>
        <input type="text" class="form-control" [formControlName]="salario" placeholder="Ingresa el salario" #salario>
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Costo de servicio</label>
        <input type="text" class="form-control" [formControlName]="costo" placeholder="Ingresa el costo" #costo>
    </div>
    <button (click)="onSubmit()" class="btn btn-outline-primary btn-block" [routerLink]="['/consulta']">Facturar</button>
</div>