<div class="card block ">
    <div class="card-body">
        <h5 class="card-title fadeIn animated fast ">MAS SALUD Y VIDA </h5>
        <h6 class="card-subtitle fadeIn animated fast mb-2 text-muted">IPS</h6>
        <p class="card-text fadeIn animated">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis nemo commodi eligendi modi repudiandae fuga vel minus fugit accusantium tempora, corrupti, unde nisi natus iure veniam cum quaerat, hic quis.</p>
        <a href="https://github.com/MarttinezJS/Talller-1404.git" class="card-link fadeIn animated">Github</a>
    </div>
</div>